<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640155376614-fb72iohugo14kj8jbdirp3i8mekoj7cq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640155376614-fb72iohugo14kj8jbdirp3i8mekoj7cq</string>
	<key>API_KEY</key>
	<string>AIzaSyDxkMfGGbjRPDqsk2vApVm6Vd0urte3UyM</string>
	<key>GCM_SENDER_ID</key>
	<string>640155376614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softronel.nubenta</string>
	<key>PROJECT_ID</key>
	<string>nubenta-77a84</string>
	<key>STORAGE_BUCKET</key>
	<string>nubenta-77a84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640155376614:ios:d63af7a0ee375d5e0e9427</string>
	<key>DATABASE_URL</key>
	<string>https://nubenta-77a84.firebaseio.com</string>
</dict>
</plist>